.nav-bar {
  background-color: skyblue;
  height: 50px;
  display: flex;
  border: solid;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  height: 100%;
  width: 25%;
}